{* Latte template *}

{block content}

<div><h1  class="nadpis-levy">{$Content->title}</h1>
    <h1 class='nadpis-pravy'>{$Content->title_2}</h1>
<div class="clearfix"></div>

<div>{$Content->content}</div>