{* Latte template *}

{block content}
<style type="txt/css">
    textArea{
        width: 500px;
    }
</style>

<h1>Upravit příspěvek</h1>

{control novAktForm}

<a n:href="aktuality:"> <span class="glyphicon glyphicon-arrow-left"></span> zpet</a>
{*
{form novAktForm, class=>'form'}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Text input">
        <textarea class="form-control" rows="3"></textarea>
    </div>
    
{/form}
*}