<footer>
                <div class="paticka">
                    2014 &copy; Stáj u Petrůvky. Všechna práva vyhrazena <br>
                    Created by <a href="https://www.retard.cz">KytaVeprova</a>
                    {* plink odkaz na admin module homepage presenter- musi byt plink protoze v komponente nefunguji n:href *}
                    <a href="{plink :Admin:Homepage:}">Administrace</a>
                    
		</div>
                
                  
	
                <div class="multimedia">
                    
                    <a href=""><img src="{$basePath}/images/ml.png"></a>
                    
                    <a href=""><img src="{$basePath}/images/yt.png"></a>
                    <a href=""><img src="{$basePath}/images/fb.png"></a>
                    
                 
                </div>
</footer>