{* Latte template *}

{block content}
<div n:if="$images->count() == 0">
    nejsou nahrany zadne obrazky
    

</div>
<div>
    
    <ul n:foreach="$images as $image">
        <li><img src="{$basePath}{$image->cesta_k_souboru}" width="500px"/></li>
    </ul>
	    <a n:foreach="$images as $image"  href="{$basePath}{$image->cesta_k_souboru}" title="{$image->nazev}" data-gallery>
		<img src="{$basePath}{$image->cesta_k_souboru}" alt="{$image->nazev}" width="150px  ">
	    </a>
</div>
