

@background:url('../images/pozadi.png');


/* nemenne pozadi pri zmene rozliseni **/
.webkit-cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.border{
    border: dashed 1px red;
    
    
}

