{* Latte template *}

{block content}
{control newPicture}
<div n:if="$images->count() == 0">
    v teto galerii nejsou nahrany zadne obrazky
    

</div>
<div>
    
    <ul n:foreach="$images as $image">
        <li><img src="{$basePath}{$image->cesta_k_souboru}" width="500px"/></li>
    </ul>

</div>
