{* Latte template *}

{block content}


<h1 n:block=title>Kde nás najdete ?</h1>

Petrovice u Karviné <br>
737 05


<br>

<iframe
  width="570"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPQss3IF3n_FINwUYFbvXS4UlD6_mHLTA
    &q=Karviná+U+Lesa+766">
</iframe>