/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.7.2014, 21:00:34
    Author     : KytaVeprova
*/
//moje fonty


@font-face{
    font-family: Vivaldi;
    src:url(../fonts/Vivaldi.ttf);
}
@font-face{
    font-family: Algerian;
    src:url('../fonts/Algerian.ttf');
}

h1{
    font-family: Vivaldi;
}
h2{
    font-family: Vivaldi;
}

nav ul{
    font-family: Algerian;
}
