/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.7.2014, 17:02:59
    Author     : kytaveprova
*/
body{
    background-image: url(../images/pozadi.png);
    
    background-attachment: fixed;
    color: white;
    
    font-size: 16px;
}
.kontejner{
    margin:0 auto;
    background-image: url(../images/content2.png);
    width: 949px;
    height: 1451px;
    
    
}

header{
    //border: solid white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}
nav{
    margin-top:35px;
    margin-left:20px;
    width: 949px;
    
    
}
nav ul{
    float: left;
    
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li{
display:inline;

text-align: center;
}
nav li a {
text-decoration: none;
line-height: 0px;
font-size: 27px;
padding: 0 10px;
//border-right: 3px solid white; // svisla cara u menu

}
a{color: #f4a460;}
a:hover{color:white;text-decoration:none;}
a:aktivni{color:white;}

.slideshow{
    margin: 25px;
    margin-top: 73px;
    
}



article{
    overflow: auto;
    height: 820px;
    width: 600px;
}
.menu{
    overflow: auto;
    height: 822px;
    width: 200px;
    margin-left: 30px;
    margin-right: 25px;
    
}
.menu h2{
    text-decoration: underline;
    font-size: 37px;
}
.aktuality{
    
}
.prodej{
    margin-top: 0px;
}
.multimedia{
    
    float: right;

    margin: 25px;
}
.paticka{
margin-top: 20px;
float: left;
margin:40px;

color:#f4a460; 

}

h1{
  font-size: 50px;
  color: #f4a460;
    
}
.nadpis-levy{
    float: left;
}
.nadpis-pravy{
    font-size: 40px;
    float: right;
    margin-right: 25px;
    color:white
}

#image{
    border: 4px #C3c3c3 solid;
    height: 500px;
    width: 640px;
}
#image img{
    height: 500px;
    width: 640px;
}
.thumb{
    height: 60px;
    width: 80px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.dalsiSRACKA{
    margin: 0 auto;
}